<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    <form action="" method="POST">
        <div>
            <label for="admin">Enter Secret to become admin</label>
            <input name="admin" placeholder="enter secret" type="text" />
        </div>
        <button>SUBMIT</button>
    </form>
    
</body>
</html>