<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h1>LOG IN PAGE</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">username</label>
            <input name="username" placeholder="username" type="text" />
        </div>
       
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>

        <button>Login </button>
      </form>
</body>
</html>