<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
<link rel='stylesheet' href='/stylesheets/style.css' />
<title>LOGIN</title>
</head>
<body>
    <div class="login-container">
    <h1>Welcome Back</h1>
    <form class="login-form" action="/login" method="POST">
        <div>
            <label for="username">username</label>
            <input name="username" placeholder="enter username" type="text" />
        </div>
       
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" placeholder="enter password" />
        </div>

        <button>Login </button>
      </form>
    </div>
</body>
</html>