<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
</head>
<body>
    <form action=""  method="POST">
        <div>
            <label for="membership">Enter Secret to join club</label>
            <input name="membership" placeholder="membership" type="text" />
        </div>
        <button>SUBMIT</button>
    </form>
    
</body>
</html>