<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MESSAGE</title>
</head>
<body>
    <h1>WRITE MESSAGE</h1>
    <form action="/new-message" method="POST">
        <div>
            <label for="title">Title</label>
            <input name="title" placeholder="title" type="text" />
        </div>
       
        <div>
            <label for="message">Message</label>
            <input name="message" type="text" />
        </div>

        <button>SUBMIT </button>
      </form>
</body>
</html>