<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>CLUB HOUSE</title>
</head>
<body>
    <h1>Non member</h1>
    <a href="/logout">
        <button>LOG OUT</button>
    </a>
    <a href="/new-message"><button>WRITE A MESSAGE</button></a>
    <p>Become a member to see other usernames and an admin to be able to delete messages</p>
   
    <% if (!is_member) { %>
        <a href="/member">
            <button>JOIN CLUB</button>
        </a>
    <% } %>

    <% if (!is_admin) { %>
        <a href="/admin">
            <button>BECOME ADMIN</button>
        </a>
    <% } %>

    <p>Messages</p>
    <div class="member-container">
        <% messages.forEach(message => { %>
            <div class="message">
                <h2><%= message.title %></h2>
                <p><%= message.message %></p>
                <% if (is_member) { %>
                    <p>Written by <%= message.author.username %> on <%= message.createdAt %></p>
                <% } else { %>
                    <p>Sign in and  join the club to see who wrote a message and when</p>
                <% } %>

                <% if (is_admin) { %>
                        <button>DELETE</button>
                    
                <% } %>
            </div>
        <% }) %>
    </div>

</body>
</html>
