<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <title>SIGN UP</title>
</head>
<body>
    <h1>SIGN UP PAGE</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text" />
        </div>

        <div>
            <label for="email">Email Address</label>
            <input name="email" placeholder="email address" type="email" />
        </div>
       
        <div>
            <label for="password">Password</label>
            <input name="password" type="password" />
        </div>

        <div>
            <label for="password">Confirm password</label>
            <input name="confirmation" type="password" />
        </div>
        
        <button>Sign Up</button>
      </form>
</body>
</html>