:root {
  --main-color: #6366f1;
  --white: #fff;
 --grey:#fbfbfb;
}
*{
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*NAVBAR*/
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 16px;
  box-shadow: 3.5px -9px 24px 5px #e8e4e4;
  margin-bottom: 5px;
}
nav button{
  background-color: var(--main-color);
  color: var(--white);
  margin: 5px;
  border: none;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
nav span{
  color: var(--main-color);
 
}
nav h1{
  border-bottom: var(--main-color);
}
.index-container{
  background-color: var(--grey);
  padding-bottom: 10px;
  padding: 10px;
}
.index-title{
  text-align: center;
  color: var(--main-color);
}
.message{
  background-color: var(--white);
  margin: 10px;
  min-width:150px;
  border-radius: 6px;
  box-shadow: rgba(71, 75, 255, 0.075) 0px 2px 3px 0px;
  padding: 8px;
}
.message-title{
  text-transform: capitalize;
}
.message-body::first-letter {
  text-transform: uppercase;
}
.message-prompt{
  color: var(--main-color);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 6px;
  font-weight: 300;
}
footer a{
color: var(--main-color);
}
footer a:hover{
  border-bottom: 1px solid var(--main-color);
}

footer h4 {
  text-align: center;
}

footer svg {
  fill: var(--main-color);
  width: 20px;
  height: 20px;
  margin-top: -4px;
  vertical-align: middle; 
  margin-left: 5px; 
  transition: .5s ease-in;
}
footer svg:hover{
  scale: 1.3;
}
/*LOG IN PAGE*/
.login-container{
  background-color: var(--grey);
  height: 100vh;
}
.login-container h1{
  text-align: center;
  color: var(--main-color);
  margin: 5px;
  margin-bottom: 10px;
}
.login-form{
  background-color: var(--white);
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(71, 75, 255, 0.075) 0px 2px 3px 0px;

}
.login-form div{
  margin: 20px;
}
.login-form input{
outline: none;
border: none;
border-bottom: 1px solid black;
width: 70%;
}
.login-form input:focus{
  border-bottom: 1px solid var(--main-color);
}
.login-form button{
  color: var(--white);
  background-color: var(--main-color);
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  left: 35%;
}
/*SIGN UP PAGE*/

.sign-up-container{
  background-color: var(--grey);
  height: 100vh;
}
.sign-up-container h1{
  text-align: center;
  color: var(--main-color);
  margin: 5px;
  margin-bottom: 10px;
}
.sign-up-form{
  background-color: var(--white);
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(71, 75, 255, 0.075) 0px 2px 3px 0px;

}
.sign-up-form div{
  margin: 20px;
}
.sign-up-form input{
outline: none;
border: none;
border-bottom: 1px solid black;
width: 70%;
}
.sign-up-form input:focus{
  border-bottom: 1px solid var(--main-color);
}
.sign-up-form button{
  color: var(--white);
  background-color: var(--main-color);
  border: none;
  min-width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  position: relative;
  left: 35%;
}
/*MESSAGES VIEW*/
.gen-view button{
  width: 140px;
}
.members-corner-title{
  color: var(--main-color);
  margin: 5px;
  text-align: center;
}
.members-rem{
  text-align: center;
  margin: 5px;
}
.gen-view-container{
  padding-bottom: 10px;
  padding: 10px;
}
.message-body{
  margin-bottom: 5px;
}
.delete{
  color: var(--white);
  background-color: var(--main-color);
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  margin: 10px;
  
}